# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor directories and files
.vscode/ # VS Code settings, if you don't want to share
.idea/   # IntelliJ IDEA projects
*.swp
.DS_Store # macOS specific

# Build folders
build/
dist/
.parcel-cache/